@import "./utility";

//- layout

$content-height: 512px;
$content-width: 380px;

$header-height: 48px;
$footer-height: 48px;

$xs: 324px;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;

$p-xm: 4px;
$p-sm: 8px;
$p-md: 12px;
$p-lg: 16px;
$p-xlg: 24px;

$m-xm: 4px;
$m-sm: 8px;
$m-md: 12px;
$m-lg: 16px;
$m-xlg: 24px;


//- Colors

$primary: #D85DF4;

$red: #E81123;
$gree: #A6F63F;
$yellow: #FFFA66; 

$control: #FAFAFA;
$control-label: #D6D6D6;
$control-text: #808080;

$card: #FFFFFF;
$card-border-radius: 12px;

@mixin card-shadow {
  box-shadow: 0 4px 12px 4px transparentize(#000000, .72);
}

$border-color: #F7F7F7;
$border: 1px solid $border-color;

$icon-color: #BBBBBB;

@mixin background-gradient() {
  @include grad(#F6BB63, #FFFA66, 100);
}