@import "utility";
@import "vars";

* {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  margin: 0;
  padding: 0;
  list-style: none;
  min-width: 0;
  max-width: unset;
}

@include placeholder(darken($border-color, 8%));

body {
  @include background-gradient;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

// ----- {form} -----
form {
  @include col;
  gap: $m-md;

  .form-group {
    @include col;
  }

  label {
    margin-bottom: $m-sm;
    color: $control-label;
  }
  
  select,
  input:not([type="check"]),
  textarea {
    min-height: 17px;
    resize: vertical;
    outline: none;
  
    color: $control-text;
    border-radius: 6px;
    border: $border;
    background-color: $control;
    padding: $p-xs;

  }
  
}

button {
  border: none;
  border-radius: 6px;
  padding: $m-xs;
  cursor: pointer;
  color: $text;
}

button.primary {
  background-color: #A6F63F;
  color: #71BA10;
}


.dummy {
  background-color: red;
  height: 100px;
  width: 100px;
  position: relative;
  z-index: 100;
}