@import '/src/styles/utility';
@import '/src/styles/vars';

$button-size: 64px;

.recipe {
  display: grid;
  grid-template-columns: auto $button-size;
  gap: $m-sm;
  border: $border;
  border-radius: 8px;
  padding: $p-sm;

  .info {
    @include col;
    gap: $m-sm;

    h2 {
      font-size: large;
      color: $control-text;
    }

    .stats {
      @include row;
      gap: $m-sm;

      span {
        font-size: medium;
        display: inline-flex;
        align-items: flex-end;

        box-icon {
          margin-right: $m-xs;
        }
      }

      span:first-child {
        color: $green;
        fill: $green;
      }

      span:last-child {
        color: $yellow;
        fill: $yellow;
        font-weight: bold;
      }

    }
  }

  .like {
    @include row;
    margin: auto 0 auto auto;

    button {
      @include transl;

      box-icon {
        fill: gray;
      }

      &:hover {
        background-color: transparentize(gray, $amount: .92);
        @include transs;
      }

      &:active {
        background-color: transparentize(gray, $amount: .8);
      }

    }
  }

}